<!DOCTYPE html>
    <html lang = "en">
        <head>
            <title>Weather App</title>
            <link rel="stylesheet" href="css/ss.css">
            <script type="module" src="js/app.js"></script>
            <meta charset="UTF-8">
            <meta name="author" content="Wasd">
        </head> 

        <body>
            <h1 id="header">Whats The Weather Like Today?</h1>

            <input type="text" id="userText">
            <input type="button" value="Search" id="searchButton">

            <p id="responseField"></p>
            <img id="img" src="" alt="Weather Icon"> 
            <p id="temperature"></p>
            <p id="description"></p>
        </body>
    </html>